# CODEOWNERS
# This file defines the individuals or teams responsible for code in this repository.
# For more details, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @Stedi/technical-writers

# Do not request review for dep-only upgrades
package.json
package-lock.json
pnpm-lock.yaml
**/package.json
**/package-lock.json
